* {
    color: #eceff4;
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family:JetBrainsMonoNerdFont;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top:2px;
    padding-bottom:3px;
   }

window#waybar {
    background:rgba (0, 0, 0, 0.55);
}
#workspaces {

}

#mode {
    color: #ebcb8b;
}

#custom-launcher, #bluetooth, #custom-updates, #workspaces, #workspaces button, #language, #clock, #battery, #cpu, #memory, #disk, #backlight, #network, #pulseaudio, #mode, #window, #custom-powermenu {
    background-color: #252734;
    border-color: #252734;
    border-radius: 90px;
    padding: 2px 14px;
    margin: 2px 2px 2px 2px;
}

#workspaces button {
  padding: 0 0px;
  min-width: 20px;
  color: #7aa2f7;
}

#workspaces button:hover {
  background-color: rgba(0, 0, 0, 0.2)
}

#custom-updates {
  color:#8CBCBE;
}

#workspaces button.focused {
  color: #c678dd;
}

#workspaces button.urgent {
  color: #e06c75;
}
#custom-launcher {
	color: #50a1da;
	padding-right: 20px;
	font-size: 20px;
}
#clock {
	color:#a3be8c;
}

#backlight {
    color: #ebcb8b;
}

#battery {
    color: #d8dee9;
    padding-right: 22px;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color:#8CBCBE;
}

#memory {
    color: #d3869b;
    padding-right: 20px;
}
#disk {
    color: #BE8E8C;
}

#sway-language {
    color: #a3be8c
}

#network.disabled {
    color:#bf616a;
}

#network{
    color:#a3be8c;
}

#network.disconnected {
    color: #bf616a;
}

#pulseaudio {
    color: #b48ead;
}

#pulseaudio.muted {
    color: #3b4252;
}

#window{
    border-style: hidden;
    margin-top:1px;  
}    
#mode{
    margin-bottom:3px;
}
